<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link  rel= "stylesheet" type="text/css" href="css/displayLinkstyle.css">
    <div class="promo">
        <h1 class="head">Here is your Link</h1>
<div class="msg">
        <p class="message"><a href="<%= message %>" ><%= message %></a> </p>
    </div>
    </div>
    <br><br>
   <a class="aTag" href="https://github.com/barathkumar87/Share"><i class="fa fa-github" style="font-size:36px"></i>  Share</a> 
	
</body>
</html>
