<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share</title>
</head>
<body>
    <style>
    html,body{
    background: linear-gradient(147deg, #b777d6, #b8bd35);
    margin:0px;
    border:0px;
    height:100%;
    width:100%;
    /* overflow: hidden; */
}

.promo{
    font-family: monospace;
    color: #a9ca74;
    font-size: 30px;
}


.head{background: linear-gradient(181deg, #4a7694, #9b94bd);padding-left: 400px;color:white;}

.message{
    font-size: 60px;
    border: 10px;
    /* background: linear-gradient(147deg, #b777d6, #b8bd35); */
    /* padding-left: 520px; */
    color: #101010;
    /* border-color: red; */
    margin: 10px;
    border-radius: 30px;
    /* height: 100%; */
    /* background: cadetblue; */
    font-family: monospace;
    font-weight: 900;
    text-align: center;
    padding: 10px;
}


a{font-family: monospace;color: #fff;text-decoration: none;font-size: 38px;padding-left: 635px;padding-top: 30px;}


.msg{
    /* width: inherit; */
    /* border-bottom-color: pink; */
    /* border-style: ridge; */
}


#Counter{
    font-family: monospace;
    color: #cff53a;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}



    </style>
    <div class="promo">
        <h1 class="head">Here is your Message</h1>

        <p id="Counter"></p>
<div class="msg">
        <p class="message"><%= message %></p> 
    </div>
    </div>
    <br><br>
   <a href="https://github.com/barathkumar87/Share"><i class="fa fa-github" style="font-size:36px"></i>  Share</a> 
	
</body>


<script>
     var secLeft = "<%= time %> ";
     var t = secLeft;
    var x = setInterval(function() {


       
        
        if(t < 0){
            document.getElementById("Counter").innerText="Link Expired";
        }
        else{
           t = t-1;
            document.getElementById("Counter").innerText="Expires after   ";
            document.getElementById("Counter").innerText+= " :  ";
            document.getElementById("Counter").innerText+=t-1;
            document.getElementById("Counter").innerText+=" sec";


        }

    },1000);
</script>
</html>
