html,body{
    background: linear-gradient(147deg, #b777d6, #b8bd35);
    margin:0px;
    border:0px;
    height:100%;
    width:100%;
    /* overflow: hidden; */
}

.promo{
    font-family: monospace;
    color: #a9ca74;
    font-size: 30px;
}


.head{background: linear-gradient(181deg, #4a7694, #9b94bd);padding-left: 400px;color:white;}

.message{
    font-size: 60px;
    border: 10px;
    /* background: linear-gradient(147deg, #b777d6, #b8bd35); */
    /* padding-left: 520px; */
    color: #101010;
    /* border-color: red; */
    margin: 10px;
    border-radius: 30px;
    /* height: 100%; */
    /* background: cadetblue; */
    font-family: monospace;
    font-weight: 900;
    text-align: center;
    padding: 10px;
}


a{font-family: monospace;color: #fff;text-decoration: none;font-size: 38px;padding-left: 635px;padding-top: 30px;}


.msg{
    /* width: inherit; */
    /* border-bottom-color: pink; */
    /* border-style: ridge; */
}


#Counter{
    font-family: monospace;
    color: #cff53a;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}


